---
title: "Alexandru Nedelcu"
---

<article id="about">
  <h1>Alexandru Nedelcu</h1>

  <%= image_tag "picture_alex.jpg", :width => "150", :class => "right", :title => "Alexandru Nedelcu", :alt => "Alexandru Nedelcu" %>

  <p>
    Dezvoltator de software, tătic de băieţel.
  </p>

  <h2>Link-uri</h2>

  <!--sse-->
  <ul>
    <li><a href="https://www.bionicspirit.com/" target="_blank">Bionic Spirit (blog în Engleză)</a></li>
    <li><a href="http://github.com/alexandru/" target="_blank">GitHub</a></li>
    <li><a href="http://www.linkedin.com/in/alexandrunedelcu">LinkedIn</a></li>
    <li><a href="https://www.facebook.com/alexandru.nedelcu">Facebook</a></li>
    <li><a href="http://twitter.com/alex_ndc/">Twitter</a></li>
    <li><a href="https://plus.google.com/112639155372207976835/" rel="me">Google+</a></li>
  </ul>
  <!--/sse-->
</article>
