---
title: "Alexandru Nedelcu"
---

<article id="about">
  <h1>Alexandru Nedelcu</h1>

  <%= image_tag "alex-big-version-72ppi.jpg", :id => "picture", :class => "right",
    :title => "Alexandru Nedelcu", :alt => "Alexandru Nedelcu",
    :itemprop => "primaryImageOfPage" %>

  <p>
    Dezvoltator de software, tătic de băieţel.
  </p>

  <h2>Altele</h2>

  <ul class="bullets">
    <li><a href="https://alexn.org/" target="_blank">Blog în Engleză</a> (alexn.org)</li>
    <li><a href="https://github.com/alexandru/" target="_blank" rel="me">GitHub (alexandru)</b></a></li>
    <li><a href="https://twitter.com/alexelcu/" target="_blank" rel="me">Twitter (@alexelcu)</a></li>
    <li><a href="https://www.linkedin.com/in/alexelcu" target="_blank" rel="me">LinkedIn</a></li>
  </ul>

  <!--sse-->
  <h2>Contact</h2>

  Email:
  <a href="javascript:window.location.href = 'mailto:' + ['m9+website', 'alexn.org'].join('@')">
    m9+website<!---@--->@<!----@-@---->alexn.org
  </a>
  <div class="note">
    Adresa de email se schimbă periodic pentru a combate spam-ul.
  </div>
  <!--/sse-->
</article>
