---
title: "Alexandru Nedelcu"
---

<article id="about">
  <h1>Alexandru Nedelcu</h1>

  <%= image_tag "picture_alex.jpg", :width => "150", :class => "right", :title => "Alexandru Nedelcu", :alt => "Alexandru Nedelcu" %>

  <p>
    Dezvoltator de software, tătic de băieţel.
  </p>

  <h2>Altele</h2>

  <!--sse-->
  <ul>
    <li><a href="https://alexn.org/" target="_blank">Blog în Engleză</a> (alexn.org)</li>
    <li><a href="http://github.com/alexandru/" target="_blank">GitHub</a></li>
    <li><a href="http://twitter.com/alexelcu/">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/alexelcu/">LinkedIn </a></li>
    <li><a href="https://facebook.com/alexelcu/">Facebook</a></li>
  </ul>
  <!--/sse-->
</article>
