---
title: "Politica de Confidențialitate"
description: "The privacy policy for developed extensions and applications"
---

# Politica de Confidențialitate

**ULTIMA MODIFICARE:** Jan 12, 2019

## Statistici

Website-ul `ro.alexn.org` folosește Google Analytics, un serviciu
ce transmite traficul website-ului serverelor Google. Google Analytics
nu identifică utilizatori individuali și nu asociază adresa lor IP
cu alte date deținute de Google. Rapoartele create de Google Analytics
sunt folosite pentru a ne ajuta în înțelegerea traficului și utilizării
acestui website. 

Puteți opta să nu aveți traficul urmărit activând setarea de
"Do Not Track" din browser-ul dumneavoastră.

## Contact

Dacă aveți întrebări sau cereri legate de politica de confidențialitate, 
puteți trimite un email la adresa:

<a href="mailto:&#109;&#057;+&#108;&#101;&#103;&#097;&#108;&#064;&#097;&#108;&#101;&#120;&#110;&#046;&#111;&#114;&#103;">&#109;&#057;+&#108;&#101;&#103;&#097;&#108;&#064;&#097;&#108;&#101;&#120;&#110;&#046;&#111;&#114;&#103;</a>

<br/>
